td {
    padding: 0;
}

table {
    border-collapse: collapse;
    margin-top: 500px;
    margin-bottom: 2000px;
    position: relative
}

table td {
    border: 1px solid #ccc;
    width: 190px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
}

table thead img {
    width: 25px;
    vertical-align: calc(-6px);
    cursor: pointer;
}

table thead {
    z-index: 999;
}

.sort {
    float: right;
}